::-moz-selection {
  background-color: #9b8181;
  color: white;
}

::selection {
  background-color: #9b8181;
  color: white;
}

.add-flip {
  -webkit-animation: flip 0.3s forwards linear;
          animation: flip 0.3s forwards linear;
}

.add-scale {
  -webkit-animation: scaling 0.5s forwards linear;
          animation: scaling 0.5s forwards linear;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flip {
  from {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes flip {
  from {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  80% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  80% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadeUp {
  from {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fadeUp {
  from {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes loading {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pacificoregular";
  src: url("../fonts/pacifico-regular-webfont.eot");
  src: url("../fonts/pacifico-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pacifico-regular-webfont.woff2") format("woff2"), url("../fonts/pacifico-regular-webfont.woff") format("woff"), url("../fonts/pacifico-regular-webfont.ttf") format("truetype"), url("../fonts/pacifico-regular-webfont.svg#pacificoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ptejj0");
  src: url("../fonts/icomoon.eot?ptejj0#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ptejj0") format("truetype"), url("../fonts/icomoon.woff?ptejj0") format("woff"), url("../fonts/icomoon.svg?ptejj0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pictures:before {
  content: "\e904";
}

.icon-images:before {
  content: "\e904";
}

.icon-photos:before {
  content: "\e904";
}

.icon-polaroid:before {
  content: "\e904";
}

.icon-eye:before {
  content: "\e905";
}

.icon-views:before {
  content: "\e905";
}

.icon-developer_mode:before {
  content: "\e906";
}

.icon-menu:before {
  content: "\e900";
}

.icon-paint-brush:before {
  content: "\e903";
}

.icon-instagram:before {
  content: "\e901";
}

.icon-chevron-up:before {
  content: "\e902";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-dribbble:before {
  content: "\eaa7";
}

::-moz-selection {
  background-color: #9b8181;
  color: white;
}

::selection {
  background-color: #9b8181;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "robotoregular";
}

h1,
h2,
h4 {
  font-family: "pacificoregular";
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.section-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  overflow: auto;
}

.section-inner {
  padding: 100px;
}

.bg-blue {
  background-color: #85a7ca;
}

.bg-purple {
  background-color: #d3c3bc;
}

::-moz-selection {
  background-color: #9b8181;
  color: white;
}

::selection {
  background-color: #9b8181;
  color: white;
}

.main-btn {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  display: inline-block;
}

.main-btn {
  background-color: #bfada5;
  color: white;
}

textarea, input {
  outline: none;
  padding: 15px;
  border: 2px solid white;
  border-radius: 2px;
  background-color: transparent;
  display: block;
  width: 100%;
  margin: 20px 0;
}

::-webkit-input-placeholder {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

:-ms-input-placeholder {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

::-ms-input-placeholder {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

::placeholder {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

textarea {
  resize: none;
}

input {
  border-color: white;
}

::-moz-selection {
  background-color: #9b8181;
  color: white;
}

::selection {
  background-color: #9b8181;
  color: white;
}

.elevator {
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 40px;
  bottom: 60px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  z-index: 100;
}

.elevator i {
  color: #9b8181;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modal .slider-wrapper {
  background-color: white;
  width: 50%;
  min-height: 500px;
  margin: 50px auto;
}

.modal .slider-wrapper .slide:nth-child(1) {
  display: block;
}

.modal .slider-wrapper .slide {
  width: 100%;
  min-height: 500px;
  position: relative;
  display: none;
  -webkit-animation: fade 0.5s linear forwards;
          animation: fade 0.5s linear forwards;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal .slider-wrapper .slide img {
  display: block;
  width: 100%;
  min-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal .slider-wrapper .slide .slide-number {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  color: rgba(0, 0, 0, 0.555);
  font-size: 1.2rem;
}

.modal .change-slide {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%) skew(16deg);
          transform: translate(0%, -50%) skew(16deg);
  cursor: pointer;
}

.modal .next {
  left: 90%;
}

.modal .prev {
  left: 5%;
}

::-moz-selection {
  background-color: #9b8181;
  color: white;
}

::selection {
  background-color: #9b8181;
  color: white;
}

::-moz-selection {
  background-color: #9b8181;
  color: white;
}

::selection {
  background-color: #9b8181;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "robotoregular";
}

h1,
h2,
h4 {
  font-family: "pacificoregular";
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.section-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  overflow: auto;
}

.section-inner {
  padding: 100px;
}

.bg-blue {
  background-color: #85a7ca;
}

.bg-purple {
  background-color: #d3c3bc;
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3000;
}

.loader {
  width: 50px;
  height: 50px;
  border: 2px solid #9b8181;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
}

.nav {
  padding: 0 30px;
  position: fixed;
  z-index: 1200;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu-items {
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  list-style: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2000;
  top: 0;
  left: 0;
}

.nav .menu-items .close {
  position: absolute;
  cursor: pointer;
  top: 50px;
  right: 100px;
  color: white;
  font-size: 40px;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav .menu-items .close:hover {
  color: rgba(255, 255, 255, 0.411);
}

.nav .menu-items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .menu-items .items li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav .menu-items .items li a {
  display: inline-block;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  opacity: 1;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav .menu-items .items li a:hover {
  color: rgba(255, 255, 255, 0.411);
}

.nav .menu-items .items :nth-child(1) a {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.nav .menu-items .items :nth-child(2) a {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.nav .menu-items .items :nth-child(3) a {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.nav .menu-items .items :nth-child(4) a {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.nav .menu-items .items :nth-child(5) a {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.nav .logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding-right: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav .logo-menu i.icon-menu {
  font-size: 30px;
  cursor: pointer;
}

.nav .logo-menu .logo {
  width: 90px;
  height: 90px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.nav .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  height: 100%;
  margin-left: 30px;
}

.nav .socials i[class^="icon-"] {
  margin-left: 10px;
}

.nav.add {
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
  background-color: white;
}

.nav.add .logo-menu {
  border-right: 1px solid rgba(211, 211, 211, 0.5);
}

.nav.add .logo-menu .logo {
  -webkit-filter: invert(0%);
          filter: invert(0%);
}

.nav.add .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  margin-left: 30px;
}

.nav.add .socials i[class^="icon-"] {
  margin-left: 10px;
}

::-moz-selection {
  background-color: #9b8181;
  color: white;
}

::selection {
  background-color: #9b8181;
  color: white;
}

.welcom-img {
  background-image: url("/images/freelancer-girl.jpg");
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  height: 100vh;
}

.welcome .section-inner:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.welcome .section-inner:nth-child(2) h1 {
  font-size: 60px;
  position: relative;
}

.welcome .section-inner:nth-child(2) h1::after {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: black;
  top: 150%;
  left: 0;
}

.welcome .section-inner:nth-child(2) p {
  font-size: 25px;
  line-height: 1.8em;
  margin: 2em 0;
}

.projects {
  position: relative;
}

.projects .projects-img {
  background-image: url("/images/sketches.jpg");
  background-position: right center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects .projects-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 15px;
  background-color: #bfada5;
}

.projects .projects-wrapper .projects-inner {
  -webkit-perspective: 2000px;
          perspective: 2000px;
  overflow: hidden;
}

.projects .projects-wrapper .projects-inner .project-img-wrapper {
  height: 220px;
  position: relative;
  overflow: hidden;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: rotateX(100deg);
          transform: rotateX(100deg);
}

.projects .projects-wrapper .projects-inner .project-img-wrapper img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 0;
}

.projects .projects-wrapper .projects-inner .project-img-wrapper:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects .projects-wrapper .projects-inner .project-img-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  opacity: 0.3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects .projects-wrapper .projects-inner .project-img-wrapper:hover::after {
  opacity: 0;
}

.projects .projects-wrapper .projects-inner:nth-child(1) .project-img-wrapper {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.projects .projects-wrapper .projects-inner:nth-child(2) .project-img-wrapper {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.projects .projects-wrapper .projects-inner:nth-child(3) .project-img-wrapper {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.projects .projects-wrapper .projects-inner:nth-child(4) .project-img-wrapper {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.projects .projects-wrapper .projects-inner:nth-child(5) .project-img-wrapper {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.projects .projects-wrapper .projects-inner:nth-child(6) .project-img-wrapper {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.projects .section-inner:nth-child(1) {
  text-align: center;
  color: white;
}

.projects .section-inner:nth-child(1) h2 {
  font-size: 50px;
  position: relative;
}

.projects .section-inner:nth-child(1) h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: white;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-bottom: 2rem 0;
}

.projects .section-inner:nth-child(1) p {
  line-height: 1.8em;
  margin: 4rem 0 2rem 0;
}

.services {
  text-align: center;
  color: #9b8181;
}

.services .services-img {
  background-image: url("/images/laptop-hands.jpg");
  background-position: left center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.services h2 {
  font-size: 50px;
  position: relative;
}

.services h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: #bfada5;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-bottom: 2rem 0;
}

.services p {
  line-height: 1.8em;
  margin: 4rem 0 2rem 0;
}

.services .service-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
}

.services .service-wrapper .single-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.services .service-wrapper .single-service h3 {
  margin: 1rem 0;
}

.services .service-wrapper .single-service p {
  margin: 0;
}

.services .service-wrapper .single-service i[class^="icon-"] {
  font-size: 50px;
}

.services .service-wrapper .single-service .line {
  width: 50px;
  height: 2px;
  margin: 50px 0;
  background-color: #bfada5;
}

.services .service-wrapper > .single-service:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.services .service-wrapper > .single-service:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.services .service-wrapper > .single-service:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.services .service-wrapper > .single-service:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.services .service-wrapper > .single-service:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.services .service-wrapper > .single-service:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.about {
  color: white;
}

.about h2 {
  font-size: 50px;
  position: relative;
}

.about h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: white;
  top: 150%;
  left: 0%;
  margin-bottom: 2rem 0;
}

.about p {
  line-height: 1.8em;
  margin: 4rem 0;
}

.about h4 {
  font-size: 30px;
  margin-top: 5rem;
  position: relative;
}

.about h4::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: white;
  top: 150%;
  left: 0%;
  margin-bottom: 2rem;
}

.about .about-img {
  background-image: url("/images/freelance-girl-relax.jpg");
  background-position: right center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.about .skill-box {
  padding: 25px;
  background-color: white;
  border: 5px solid #bfada5;
}

.about .skill-box span {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.about .skill-box .skillF-percent,
.about .skill-box .skill1-percent,
.about .skill-box .skill2-percent {
  color: #eaeaea;
  font-size: 16px;
}

.about .skill-box .skill-wrapper {
  margin: 30px 0;
}

.about .skill-box .progress-outer {
  width: 100%;
  height: 5px;
  overflow: hidden;
  background-color: #eaeaea;
  margin-bottom: 10px;
}

.about .skill-box .progress {
  background-color: black;
  width: 0%;
  height: 100%;
  border-radius: 10px;
}

.about .skill-box .progress2 {
  background-color: black;
  width: 0%;
  height: 100%;
  border-radius: 10px;
}

.about .skill-box .progressF {
  background-color: black;
  width: 0%;
  height: 100%;
  border-radius: 10px;
}

.about .skill-box .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3px;
  margin-bottom: 5px;
  font-family: sans-serif;
}

.touch {
  color: white;
}

.touch h2 {
  font-size: 50px;
  position: relative;
}

.touch h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: white;
  top: 150%;
  left: 0%;
  margin-bottom: 2rem 0;
}

.touch p {
  line-height: 1.8em;
  margin: 4rem 0;
}

.touch h4 {
  font-size: 30px;
  margin-top: 5rem;
  position: relative;
}

.touch h4::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: white;
  top: 150%;
  left: 0%;
  margin-bottom: 2rem;
}

.touch .adress {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
      grid-template-areas: "location hour" "location hour";
}

.touch .adress .location {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: location;
}

.touch .adress .location h3 {
  margin-bottom: 20px;
}

.touch .adress .hour {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: hour;
}

.touch .adress .hour h3 {
  margin-bottom: 20px;
}

.touch .adress p {
  margin: 5px 0;
}

.touch input[type="submit"] {
  display: inline-block;
}

.intouch-img {
  background-image: url("/images/tochscreen.jpg");
  background-position: right center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

::-moz-selection {
  background-color: #9b8181;
  color: white;
}

::selection {
  background-color: #9b8181;
  color: white;
}

.footer {
  margin: 20px 50px;
  background-color: white;
  color: #d3c3bc;
  font-size: 0.8rem;
}

::-moz-selection {
  background-color: #9b8181;
  color: white;
}

::selection {
  background-color: #9b8181;
  color: white;
}

@media (max-width: 910px) {
  .socials {
    display: none !important;
  }
  .logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
    padding: 0 !important;
  }
  .nav.add .logo-menu {
    border-right: 1px solid white !important;
  }
  .section-inner {
    width: 50vw;
    padding: 50px;
    overflow: hidden;
  }
  .section-container.welcome .section-inner:nth-child(2) p {
    font-size: 1rem;
    margin: 50px 0;
  }
  .section-container.welcome .section-inner:nth-child(2) h1 {
    font-size: 3rem;
  }
}

@media (max-width: 869px) {
  .projects .projects-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 15px;
    background-color: #bfada5;
  }
  .services .service-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 5rem;
  }
  .line {
    display: none;
  }
  .single-service {
    margin-bottom: 50px;
  }
}

@media (max-width: 553px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px;
  }
  .logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
    padding: 0 !important;
  }
  .nav.add .logo-menu {
    border-right: 1px solid white !important;
  }
  .section-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    overflow: auto;
    width: 100vw;
  }
  .section-inner {
    width: 100vw;
    padding: 50px;
    overflow: hidden;
  }
  .section-container.welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200vh;
    overflow-y: hidden;
  }
  .welcom-img {
    background-image: url("/images/freelancer-girl.jpg");
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  .welcome .section-inner:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    min-height: 100vh;
  }
  .welcome .section-inner:nth-child(2) h1 {
    font-size: 60px;
    position: relative;
  }
  .welcome .section-inner:nth-child(2) h1::after {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 2px;
    background-color: black;
    top: 150%;
    left: 0;
  }
  .welcome .section-inner:nth-child(2) p {
    font-size: 25px;
    line-height: 1.8em;
  }
  .projects .projects-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding: 15px;
    background-color: #bfada5;
  }
  .services .service-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
  }
  .line {
    display: block;
  }
  .projects-img,
  .projects-img,
  .services-img,
  .about-img,
  .intouch-img {
    display: none;
  }
}

@media (max-width: 426px) {
  .projects .projects-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 15px;
    background-color: #bfada5;
  }
  .services .service-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 5rem;
  }
  .line {
    display: none;
  }
  .modal .slider-wrapper {
    width: 95%;
  }
  .modal .change-slide {
    color: coral;
  }
  .modal .next {
    left: 80%;
  }
  .modal .prev {
    left: 5%;
  }
}
/*# sourceMappingURL=main.css.map */