.nav {
  padding: 0 30px;
  position: fixed;
  z-index: 1200;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu-items {
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  list-style: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2000;
  top: 0;
  left: 0;
}

.nav .menu-items .close {
  position: absolute;
  cursor: pointer;
  top: 50px;
  right: 100px;
  color: white;
  font-size: 40px;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav .menu-items .close:hover {
  color: rgba(255, 255, 255, 0.411);
}

.nav .menu-items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .menu-items .items li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav .menu-items .items li a {
  display: inline-block;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  opacity: 1;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav .menu-items .items li a:hover {
  color: rgba(255, 255, 255, 0.411);
}

.nav .menu-items .items :nth-child(1) a {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.nav .menu-items .items :nth-child(2) a {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.nav .menu-items .items :nth-child(3) a {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.nav .menu-items .items :nth-child(4) a {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.nav .menu-items .items :nth-child(5) a {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.nav .logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding-right: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav .logo-menu i.icon-menu {
  font-size: 30px;
  cursor: pointer;
}

.nav .logo-menu .logo {
  width: 90px;
  height: 90px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.nav .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  height: 100%;
  margin-left: 30px;
}

.nav .socials i[class^="icon-"] {
  margin-left: 10px;
}

.nav.add {
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
  background-color: white;
}

.nav.add .logo-menu {
  border-right: 1px solid rgba(211, 211, 211, 0.5);
}

.nav.add .logo-menu .logo {
  -webkit-filter: invert(0%);
          filter: invert(0%);
}

.nav.add .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  margin-left: 30px;
}

.nav.add .socials i[class^="icon-"] {
  margin-left: 10px;
}
/*# sourceMappingURL=header.css.map */