::-moz-selection {
  background-color: #9b8181;
  color: white;
}

::selection {
  background-color: #9b8181;
  color: white;
}

.welcom-img {
  background-image: url("/images/freelancer-girl.jpg");
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  height: 100vh;
}

.welcome .section-inner:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.welcome .section-inner:nth-child(2) h1 {
  font-size: 60px;
  position: relative;
}

.welcome .section-inner:nth-child(2) h1::after {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: black;
  top: 150%;
  left: 0;
}

.welcome .section-inner:nth-child(2) p {
  font-size: 25px;
  line-height: 1.8em;
  margin: 2em 0;
}

.projects {
  position: relative;
}

.projects .projects-img {
  background-image: url("/images/sketches.jpg");
  background-position: right center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects .projects-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 15px;
  background-color: #bfada5;
}

.projects .projects-wrapper .projects-inner {
  -webkit-perspective: 2000px;
          perspective: 2000px;
  overflow: hidden;
}

.projects .projects-wrapper .projects-inner .project-img-wrapper {
  height: 220px;
  position: relative;
  overflow: hidden;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: rotateX(100deg);
          transform: rotateX(100deg);
}

.projects .projects-wrapper .projects-inner .project-img-wrapper img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 0;
}

.projects .projects-wrapper .projects-inner .project-img-wrapper:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects .projects-wrapper .projects-inner .project-img-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  opacity: 0.3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects .projects-wrapper .projects-inner .project-img-wrapper:hover::after {
  opacity: 0;
}

.projects .projects-wrapper .projects-inner:nth-child(1) .project-img-wrapper {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.projects .projects-wrapper .projects-inner:nth-child(2) .project-img-wrapper {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.projects .projects-wrapper .projects-inner:nth-child(3) .project-img-wrapper {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.projects .projects-wrapper .projects-inner:nth-child(4) .project-img-wrapper {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.projects .projects-wrapper .projects-inner:nth-child(5) .project-img-wrapper {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.projects .projects-wrapper .projects-inner:nth-child(6) .project-img-wrapper {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.projects .section-inner:nth-child(1) {
  text-align: center;
  color: white;
}

.projects .section-inner:nth-child(1) h2 {
  font-size: 50px;
  position: relative;
}

.projects .section-inner:nth-child(1) h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: white;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-bottom: 2rem 0;
}

.projects .section-inner:nth-child(1) p {
  line-height: 1.8em;
  margin: 4rem 0 2rem 0;
}

.services {
  text-align: center;
  color: #9b8181;
}

.services .services-img {
  background-image: url("/images/laptop-hands.jpg");
  background-position: left center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.services h2 {
  font-size: 50px;
  position: relative;
}

.services h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: #bfada5;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-bottom: 2rem 0;
}

.services p {
  line-height: 1.8em;
  margin: 4rem 0 2rem 0;
}

.services .service-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
}

.services .service-wrapper .single-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.services .service-wrapper .single-service h3 {
  margin: 1rem 0;
}

.services .service-wrapper .single-service p {
  margin: 0;
}

.services .service-wrapper .single-service i[class^="icon-"] {
  font-size: 50px;
}

.services .service-wrapper .single-service .line {
  width: 50px;
  height: 2px;
  margin: 50px 0;
  background-color: #bfada5;
}

.services .service-wrapper > .single-service:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.services .service-wrapper > .single-service:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.services .service-wrapper > .single-service:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.services .service-wrapper > .single-service:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.services .service-wrapper > .single-service:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.services .service-wrapper > .single-service:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.about {
  color: white;
}

.about h2 {
  font-size: 50px;
  position: relative;
}

.about h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: white;
  top: 150%;
  left: 0%;
  margin-bottom: 2rem 0;
}

.about p {
  line-height: 1.8em;
  margin: 4rem 0;
}

.about h4 {
  font-size: 30px;
  margin-top: 5rem;
  position: relative;
}

.about h4::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: white;
  top: 150%;
  left: 0%;
  margin-bottom: 2rem;
}

.about .about-img {
  background-image: url("/images/freelance-girl-relax.jpg");
  background-position: right center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.about .skill-box {
  padding: 25px;
  background-color: white;
  border: 5px solid #bfada5;
}

.about .skill-box span {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.about .skill-box .skillF-percent,
.about .skill-box .skill1-percent,
.about .skill-box .skill2-percent {
  color: #eaeaea;
  font-size: 16px;
}

.about .skill-box .skill-wrapper {
  margin: 30px 0;
}

.about .skill-box .progress-outer {
  width: 100%;
  height: 5px;
  overflow: hidden;
  background-color: #eaeaea;
  margin-bottom: 10px;
}

.about .skill-box .progress {
  background-color: black;
  width: 0%;
  height: 100%;
  border-radius: 10px;
}

.about .skill-box .progress2 {
  background-color: black;
  width: 0%;
  height: 100%;
  border-radius: 10px;
}

.about .skill-box .progressF {
  background-color: black;
  width: 0%;
  height: 100%;
  border-radius: 10px;
}

.about .skill-box .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3px;
  margin-bottom: 5px;
  font-family: sans-serif;
}

.touch {
  color: white;
}

.touch h2 {
  font-size: 50px;
  position: relative;
}

.touch h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: white;
  top: 150%;
  left: 0%;
  margin-bottom: 2rem 0;
}

.touch p {
  line-height: 1.8em;
  margin: 4rem 0;
}

.touch h4 {
  font-size: 30px;
  margin-top: 5rem;
  position: relative;
}

.touch h4::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: white;
  top: 150%;
  left: 0%;
  margin-bottom: 2rem;
}

.touch .adress {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
      grid-template-areas: "location hour" "location hour";
}

.touch .adress .location {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: location;
}

.touch .adress .location h3 {
  margin-bottom: 20px;
}

.touch .adress .hour {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: hour;
}

.touch .adress .hour h3 {
  margin-bottom: 20px;
}

.touch .adress p {
  margin: 5px 0;
}

.touch input[type="submit"] {
  display: inline-block;
}

.intouch-img {
  background-image: url("/images/tochscreen.jpg");
  background-position: right center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */