::-moz-selection {
  background-color: #9b8181;
  color: white;
}

::selection {
  background-color: #9b8181;
  color: white;
}

@media (max-width: 910px) {
  .socials {
    display: none !important;
  }
  .logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
    padding: 0 !important;
  }
  .nav.add .logo-menu {
    border-right: 1px solid white !important;
  }
  .section-inner {
    width: 50vw;
    padding: 50px;
    overflow: hidden;
  }
  .section-container.welcome .section-inner:nth-child(2) p {
    font-size: 1rem;
    margin: 50px 0;
  }
  .section-container.welcome .section-inner:nth-child(2) h1 {
    font-size: 3rem;
  }
}

@media (max-width: 869px) {
  .projects .projects-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 15px;
    background-color: #bfada5;
  }
  .services .service-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 5rem;
  }
  .line {
    display: none;
  }
  .single-service {
    margin-bottom: 50px;
  }
}

@media (max-width: 553px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px;
  }
  .logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
    padding: 0 !important;
  }
  .nav.add .logo-menu {
    border-right: 1px solid white !important;
  }
  .section-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    overflow: auto;
    width: 100vw;
  }
  .section-inner {
    width: 100vw;
    padding: 50px;
    overflow: hidden;
  }
  .section-container.welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200vh;
    overflow-y: hidden;
  }
  .welcom-img {
    background-image: url("/images/freelancer-girl.jpg");
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  .welcome .section-inner:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    min-height: 100vh;
  }
  .welcome .section-inner:nth-child(2) h1 {
    font-size: 60px;
    position: relative;
  }
  .welcome .section-inner:nth-child(2) h1::after {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 2px;
    background-color: black;
    top: 150%;
    left: 0;
  }
  .welcome .section-inner:nth-child(2) p {
    font-size: 25px;
    line-height: 1.8em;
  }
  .projects .projects-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding: 15px;
    background-color: #bfada5;
  }
  .services .service-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
  }
  .line {
    display: block;
  }
  .projects-img,
  .projects-img,
  .services-img,
  .about-img,
  .intouch-img {
    display: none;
  }
}

@media (max-width: 426px) {
  .projects .projects-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 15px;
    background-color: #bfada5;
  }
  .services .service-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 5rem;
  }
  .line {
    display: none;
  }
  .modal .slider-wrapper {
    width: 95%;
  }
  .modal .change-slide {
    color: coral;
  }
  .modal .next {
    left: 80%;
  }
  .modal .prev {
    left: 5%;
  }
}
/*# sourceMappingURL=mediaQueries.css.map */