// MODAL

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;

  .slider-wrapper {
    background-color: white;
    width: 50%;
    min-height: 500px;
    margin: 50px auto;
    .slide:nth-child(1) {
      display: block;
    }

    .slide {
      width: 100%;
      min-height: 500px;
      position: relative;
      display: none;
      animation: fade 0.5s linear forwards;
      transform: scale(1);

      img {
        display: block;
        width: 100%;
        min-height: 500px;
        object-fit: cover;
      }
      .slide-number {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        font-weight: bold;
        color: rgba(0, 0, 0, 0.555);
        font-size: 1.2rem;
      }
    }
  }
  .change-slide {
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%) skew(16deg);
    cursor: pointer;
  }

  .next {
    left: 90%;
  }
  .prev {
    left: 5%;
  }
}
